<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mobile First Menu Bar - HTML, CSS, JS

    // CSS
    link(rel="stylesheet", href="assets/css/index.css")

  body

    //IONICONS
    script(src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js")
    // MAIN
    script(src="assets/js/index.js")