/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*===== VARIABLES CSS =====*/
/*===== Colores =====*/
/*===== Fuente y tipografia =====*/
/*===== z index =====*/
/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.bg-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

/*===== HEADER =====*/
.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: #070D1F;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .header__logo {
    color: #E6E7E9; }
  .header .header__toggle {
    font-size: 1.5rem;
    color: #E6E7E9;
    cursor: pointer; }

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #070D1F;
    color: #E6E7E9;
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; } }

.nav .nav__content {
  height: 100%;
  -ms-grid-rows: -webkit-max-content 1fr -webkit-max-content;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem; }
  .nav .nav__content .nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: #282B3A;
    border-radius: 50%;
    cursor: pointer; }
  .nav .nav__content .nav__profil .nav__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    background-color: #3664F4;
    border-radius: 50%;
    overflow: hidden; }
    .nav .nav__content .nav__profil .nav__icon ion-icon {
      font-size: 1.75rem; }
  .nav .nav__content .nav__profil div .nav__name {
    display: block;
    color: #E6E7E9; }
  .nav .nav__content .nav__profil div .nav__job {
    font-size: 0.813rem; }
  .nav .nav__content .nav__menu {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .nav .nav__content .nav__menu .nav__list .nav__item {
      margin: 2.5rem 0; }
      .nav .nav__content .nav__menu .nav__list .nav__item .nav__link {
        color: #E6E7E9;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        /*Active menu*/ }
        .nav .nav__content .nav__menu .nav__list .nav__item .nav__link:hover {
          color: #3664F4; }
        .nav .nav__content .nav__menu .nav__list .nav__item .nav__link.active {
          color: #3664F4; }
  .nav .nav__content .nav__social {
    padding-top: .5rem; }
    .nav .nav__content .nav__social .nav__social-icon {
      font-size: 1.2rem;
      color: #E6E7E9;
      margin-right: 1rem;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .nav .nav__content .nav__social .nav__social-icon:hover {
        color: #3664F4; }

/*Aparecer menu*/
.show {
  left: 0; }

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0; }
    body .header {
      height: 4rem; }
      body .header .header__logo, body .header .header__toggle {
        display: none; }
      body .header .nav {
        width: 100%; }
        body .header .nav .nav__close, body .header .nav .nav__job {
          display: none; }
        body .header .nav .nav__content {
          -ms-grid-columns: (-webkit-max-content)[3];
          -ms-grid-columns: (max-content)[3];
          grid-template-columns: repeat(3, -webkit-max-content);
          grid-template-columns: repeat(3, max-content);
          -ms-grid-rows: 1fr;
          grid-template-rows: 1fr;
          -webkit-column-gap: 1rem;
          column-gap: 1rem;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          max-width: unset; }
          body .header .nav .nav__content .nav__profil {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            body .header .nav .nav__content .nav__profil .nav__icon {
              width: 32px;
              height: 32px;
              margin-bottom: 0px;
              margin-right: .5rem; }
              body .header .nav .nav__content .nav__profil .nav__icon ion-icon {
                font-size: 2rem;
                color: #E6E7E9; }
          body .header .nav .nav__content .nav__menu .nav__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            body .header .nav .nav__content .nav__menu .nav__list .nav__item {
              margin: 0 .25rem; }
              body .header .nav .nav__content .nav__menu .nav__list .nav__item .nav__link {
                padding: .5rem .8rem;
                border-radius: .25rem; }
                body .header .nav .nav__content .nav__menu .nav__list .nav__item .nav__link:hover {
                  background-color: #3664F4;
                  color: #E6E7E9; } }

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto; } }
